@model Canfordit_Rides_and_Hires.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

<link rel="stylesheet" href="~/Content/css/content.css" type="text/css" media="all" />
<style>
    .content .user-details {
        display: block;
    }

    .wrapper div ul li {
        list-style: none;
        text-decoration: none;
        text-align: center
    }
</style>
@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="form">
        <div class="wrapper">
            <h3 class="h3 text-center heading">Change Password<i class="fa fa-key pl-2 mb-0"></i></h3>
            <h4 class="h4 text-center">Update Your Password, Improve Your Security<i class="fa fa-lock"></i></h4>
            <p class="validator">@Html.ValidationSummary(true, "", new { @class = "text-danger" })</p>
            <div class="title">Complete The Form Below</div>
            <div class="content">
                <div class="user-details">
                    <div class="input-box">
                        <span class="details">Current Password</span>
                        @Html.PasswordFor(m => m.OldPassword, new { @placeholder = "Enter current password", @required = "required" })
                        @Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "text-danger" })
                    </div>
                    <div class="input-box">
                        <span class="details">New Password</span>
                        @Html.PasswordFor(m => m.NewPassword, new { @placeholder = "Enter a new password", @required = "required" })
                        @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                    </div>
                    <div class="input-box">
                        <span class="details">Re-type Password</span>
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @placeholder = "Confirm your password" })
                        @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                    </div>
                    <div class="button col-lg-6 text-center">
                        <input type="submit" value="Update Password">
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
