@model Canfordit_Rides_and_Hires.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}

<link rel="stylesheet" href="~/Content/css/content.css" type="text/css" media="all" />
<style>
    .wrapper div ul li {
        list-style: none;
        text-decoration: none;
        text-align: center
    }
    .content .user-details{
        display:block;
    }
    .button input {
        width: 15%;
    }
</style>

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="form">
        <div class="wrapper">
            <h3 class="h3 text-center heading">Forgot your Password?</h3>
            <h4 class="h4 text-center">Don't Worry, We Got Your Back<i class="fa fa-thumbs-up"></i></h4>
            <p class="validator">@Html.ValidationSummary(true, "", new { @class = "text-danger" })</p>
            <div class="title">Enter your Email Address</div>
            <div class="content">
                <div class="user-details">
                    <div class="input-box">
                        <span class="details">Email Address</span>
                        @Html.TextBoxFor(m => m.Email, new { @placeholder = "Enter your email address", @required = "required" })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                    <div class="button">
                        <input type="submit" value="Email Link">
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
