@model Canfordit_Rides_and_Hires.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Password Reset";
}

<link rel="stylesheet" href="~/Content/css/content.css" type="text/css" media="all" />
<style>
    .content .user-details {
        display: block;
    }

    .wrapper div ul li {
        list-style: none;
        text-decoration: none;
        text-align: center
    }
 
</style>
@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="form">
        <div class="wrapper">
            <h3 class="h3 text-center heading">Reset Password<i class="fa fa-key pl-2 mb-0"></i></h3>
            <h4 class="h4 text-center">It's The Last Step. Yes, The Last Step<i class="fa fa-lock"></i></h4>
            <p class="validator">@Html.ValidationSummary(true, "", new { @class = "text-danger" })</p>
            <div class="title">Complete The Form Below</div>
            <div class="content">
                <div class="user-details">
                    @Html.HiddenFor(model => model.Code)
                    <div class="input-box">
                        <span class="details">Email Address</span>
                        @Html.TextBoxFor(m => m.Email, new { @placeholder = "Enter your email address", @required = "required" })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                    <div class="input-box">
                        <span class="details">Password</span>
                        @Html.PasswordFor(m => m.Password, new { @placeholder = "Create a new password", @required = "required" })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                    <div class="input-box">
                        <span class="details">Re-type Password</span>
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @placeholder = "Confirm your password" })
                        @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                    </div>
                    <div class="button col-lg-6 text-center">
                        <input type="submit" value="Reset Password">
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
